include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md
include scripts/build_annotations.py
recursive-include src/bamregions/data *.gz *.json *.md *.txt
recursive-include tests *.py

